<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dvbem world</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <section class="s1">
        <div class="ui container">
            <div class="greeting-wrapper">
                <h1>Hi! I'm Johnpaul dvbem Amuji</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="dots"></div>
                        <div id="dot-2" class="dots"></div>
                        <div id="dot-3" class="dots"></div>
                    </div>
                    <ul id="navigation">
                        <li><a href="#contact">contact</a></li>
                    </ul>
                </div>
                <div id="#me" class="left-wrapper">
                    <img id="dp" src="/images/image3.jpg">
                    <div id="theme-color-wrapper">
                        <div id="light-mode" class="theme-dot"></div>
                        <div id="blue-mode" class="theme-dot"></div>
                        <div id="green-mode" class="theme-dot"></div>
                        <div id="purple-mode" class="theme-dot"></div>
                    </div>
                    <p class="me">My name is Amuji Johnpaul Chidubem, I was born on the
                        17th day of September in Enugu, Nigeria. I'm a graduate of Mechanical and
                        Production Engineering from the Federal University of Technology Owerri.
                    </p>
                </div>
                <div class="right-wrapper">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-1" class="corner"></div>
                            <div id="corner-2" class="corner"></div>
                            <h3>What I Do</h3>
                            <p>I'm a <strong>Full Stack developer</strong>:
                                That's to say I develop the servers and databases 
                                of applications as well as I design the user interactions. 
                                What I offer is functionality and beauty<br><hr>
                                <strong>Design + Front End + Back End.</strong>
                            </p>
                            <div id="corner-3" class="corner"></div>
                            <div id="corner-4" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>

    <section class="s2">
        <div class="ui container">
            <div id="stack" class="about-wrapper">
                <div class="about-me">
                    <h4>TOP EXPERTISE</h4>
                    <P>Full Stack developer with primary interest in 
                        MongoDb + Express + React + Node JS:
                        <a target="_blank" href="/Resume.pdf">View Resume</a>     
                    </P>
                    <div class="skills">
                        <ul>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Redux</li>
                            <li>Git/Github</li>
                        </ul>

                        <ul>
                            <li>Google maps API</li>
                            <li>HTML/CSS</li>
                            <li>Python</li>
                            <li>Heroku</li>
                        </ul>
                    </div>
                </div>
                <div class="socials">
                    <div class="ui card">
                        <div class="image">
                            <img src="/images/socials.jpeg">
                        </div>
                        <div class="extra content">
                            <span class="right floated">
                                <i class="github icon"></i>
                                <a target="_blank" href="https://github.com/dvbem">@dvbem</a>
                            </span>
                            <span class="left floated">
                                <i class="instagram icon"></i> 
                                <a target="_blank" href="https://instagram.com/johnpaulamuji">@johnpaulamuji</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s1">
        <div class="ui container">
            <h2 class="portfolio-header">Some of my past projects</h2>
            <div id="work" class="portfolio-wrapper">
                <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/images/natours1.jpg" class="visible content">
                      <img src="/images/natoursBody.jpg" class="hidden content">
                    </div>
                    <div class="content">
                      <a target="_blank" href="https://fast-eyrie-27529.herokuapp.com/" class="header">
                        Natours</a>
                      <div class="meta">
                        <span class="date">
                            A tourism website aimed at attracting potential
                            tourists with its beautiful and flexible layout.
                        </span>
                      </div>
                    </div>
                    <div class="extra content">
                      <span class="right floated">html & css</span>
                    </div>
                </div>
                <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/images/color-game.jpg" class="visible content">
                      <img src="/images/color-game3.jpg" class="hidden content">
                    </div>
                    <div class="content">
                      <a target="_blank" 
                      href="https://mysterious-coast-60728.herokuapp.com/" class="header">
                        Color game</a>
                      <div class="meta">
                        <span class="date">
                            Created with just front end programming, this is a simple color game that 
                            tests your knowledge of the rgb color combination.
                        </span>
                      </div>
                    </div>
                    <div class="extra content">
                      <span class="right floated">+javascript</span>
                    </div>
                </div>
                <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/images/yelpcamp2.jpg" class="visible content">
                      <img src="/images/yelpcamp.jpg" class="hidden content">
                    </div>
                    <div class="content">
                      <a target="_blank" 
                      href="https://whispering-badlands-41709.herokuapp.com/" class="header">
                        Yelpcamp</a>
                      <div class="meta">
                        <span class="date">
                            A fully functional and interactive website, that allows you to 
                            create an account, add, edit and delete campgrounds and comments.
                        </span>
                      </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">+node.js</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="ui container">
            <div id="contact" class="contact-wrapper">
                <h2 class="contact-header">Get in touch</h2>
                <form target="_blank" action="https://formsubmit.co/el/dafite" method="POST" class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="what's your name">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="Email" name="email" placeholder="enter your email address" required>
                    </div>
                    <div class="field">
                        <label>Message</label>
                        <textarea placeholder="your message" required></textarea>
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>